.site-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
  height: 50px;
  background-color: #000000;
  font-size: 16px;
  .site-logo {
    display: block;
    text-transform: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .site-logo-link {
    text-decoration: none;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    align-self: center;
  }
  h1 {
    margin: 0;
    padding: 0;
    align-self: center;
    color: $white;
    display: none;
    font-family: "Shadows Into Light",cursive !important;
  }
  .site-logo-img {
    width: 50px;
    margin: 10px;
  }
  /*Navigation*/
  .site-navigation {
    text-align: right;
    align-self: center;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .navigation-list-item {
    display: block;
    padding: 0 12px;
  }
}


@media (min-width: 992px) {
  .site-header {
    gap: 20px;
    padding: 0 20px;
    height: 70px;
    h1 {
      display: block;
    }
  }
}

